<h1>Profiles</h1>
<p>あなたのメールは <%= current_user.email %></p>
<p>
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar%>
  <% end %>
</p>
<p>名前は <%= current_user.name %></p>
<p>年齢：<%= current_user.age %></p>
